body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #3a3a3c;
  background-color: #f2f2f7;
}

.dark-mode {
  background-color: #f2f2f7;
  color: rgba(27, 26, 26, 0.781);
}

p {
  margin: 0;
  padding: 0;
}

.bold-letters {
  font-weight: 710; 
  color: #3a3a3c;
  
  /*
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: #3a3a3c;
  text-shadow: 
    -1px -1px 0 blue,
     0   -1px 0 blue,
     1px -1px 0 blue,
     1px  0   0 blue,
     1px  1px 0 blue,
     0    1px 0 blue,
    -1px  1px 0 blue,
    -1px  0   0 blue; */
}

div#text-container {
  max-width: 300px;
  width: 90%;
  margin: 0 auto;
  margin-top:60px;
  margin-bottom:20px;
  border: 1px solid #474444;
  line-height: 1em;
  padding: 1em;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
}

p.text {
  line-height: 2.5em;
}

#input-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 1em;
}

textarea {
  margin: 0;
  padding: 1em;
}

button {
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  font-size: 20px;
}
