body {
  font-family: 'Open Sans';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  color: #333;
}

p {
  margin: 0;
  padding: 0;
}

.bold-letters {
  font-weight: 800;
  color: blue;
}

div#text-container {
  max-width: 300px;
  width: 90%;
  margin: 0 auto;
  margin-top:20px;
  margin-bottom:20px;
  border: 1px solid #474444;
  line-height: 1em;
  padding: 1em;
  box-sizing: border-box;
  border-radius: 5px;
}

p.text {
  line-height: 2.5em;
}

#input-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 1em;
}

textarea {
  margin: 0;
  padding: 1em;
}

button {
  margin: auto;
  margin-top: 10px;
  display: block;
}
